n8n-followup-automation.json
{
  "name": "Alu Empire - Welcome Email Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        }
      },
      "id": "read-all-contacts",
      "name": "Read All Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        250,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-opt-in",
              "leftValue": "={{ String($json.opt_in).toUpperCase() }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-not-sent",
              "leftValue": "={{ String($json.current_step) }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-has-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-eligible",
      "name": "Filter: Opted-In & Not Yet Emailed",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "recheck-contact",
      "name": "Re-Check Consent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "recheck-opt-in",
              "leftValue": "={{ String($json.opt_in).toUpperCase() }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "recheck-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "still-eligible",
      "name": "Still Eligible?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Welcome to Alu Empire, {{ $json.name }}!",
        "message": "=<!DOCTYPE html><html><head><style>body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #f8fafc; margin: 0; padding: 0; } .container { max-width: 600px; margin: 40px auto; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.05); } .header { background-color: #0f172a; padding: 40px 20px; text-align: center; border-bottom: 4px solid #fbbf24; } .header img { height: 60px; filter: brightness(0) invert(1); } .content { padding: 40px 30px; color: #334155; line-height: 1.6; font-size: 16px; } .content h1 { color: #0f172a; font-size: 24px; margin-top: 0; } .product-box { background-color: #f1f5f9; border-left: 4px solid #fbbf24; padding: 15px 20px; margin: 25px 0; border-radius: 0 8px 8px 0; } .footer { background-color: #f8fafc; padding: 20px; text-align: center; color: #94a3b8; font-size: 12px; border-top: 1px solid #e2e8f0; } .btn { display: inline-block; background-color: #fbbf24; color: #0f172a; text-decoration: none; padding: 12px 28px; border-radius: 6px; font-weight: bold; margin-top: 10px; }</style></head><body><div class=\"container\"><div class=\"header\"><img src=\"https://res.cloudinary.com/ddqqlfsjp/image/upload/v1752230081/Alu_Empire_Logo-removebg-preview_nrlo91.png\" alt=\"Alu Empire\"></div><div class=\"content\"><h1>Welcome to ACE REFLECT 2026, {{ $json.name }}!</h1><p>Thank you for stopping by Booth J-1. It was an absolute pleasure connecting with you and learning more about your architectural requirements.</p><div class=\"product-box\"><strong>Your Area of Interest:</strong> <br><span style=\"color: #0f172a; font-weight: 500;\">{{ $json.product_interest || 'Premium Architectural Solutions' }}</span></div><p>Our team is currently reviewing your details. We will be in touch shortly with our exclusive catalog and to discuss how Alu Empire & ISTO Furniture can elevate your upcoming projects.</p><center><a href=\"https://aluempire.com\" class=\"btn\">Explore Our Portfolio</a></center></div><div class=\"footer\">&copy; 2026 Alu Empire & ISTO Furniture. All rights reserved.<br>Gurugram, India<br><br><a href=\"{{ $env.APP_URL }}/unsubscribe?token={{ $json.unsubscribe_token }}\" style=\"color: #94a3b8; text-decoration: underline;\">Unsubscribe</a></div></div></body></html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail - Alu Empire"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Communication_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $runIndex }}-{{ $json.id }}-{{ Date.now() }}",
            "contact_id": "={{ $json.id }}",
            "channel": "EMAIL",
            "step": "1",
            "status": "SENT",
            "recipient": "={{ $json.email }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "attempted_at": "={{ new Date().toISOString() }}",
            "error": "",
            "provider_message_id": ""
          }
        }
      },
      "id": "log-success",
      "name": "Log SENT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1800,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Communication_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $runIndex }}-{{ $json.id }}-{{ Date.now() }}",
            "contact_id": "={{ $json.id }}",
            "channel": "EMAIL",
            "step": "1",
            "status": "FAILED",
            "recipient": "={{ $json.email }}",
            "sent_at": "",
            "attempted_at": "={{ new Date().toISOString() }}",
            "error": "={{ $json.error?.message || 'Email send failed' }}",
            "provider_message_id": ""
          }
        }
      },
      "id": "log-failure",
      "name": "Log FAILED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1800,
        450
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "COMPLETED",
            "current_step": "1",
            "last_followup_at": "={{ new Date().toISOString() }}",
            "next_followup_at": "",
            "updated_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "mark-completed",
      "name": "Mark COMPLETED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2050,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "FAILED",
            "updated_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "mark-failed",
      "name": "Mark Contact FAILED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2050,
        450
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Read All Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Contacts": {
      "main": [
        [
          {
            "node": "Filter: Opted-In & Not Yet Emailed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Opted-In & Not Yet Emailed": {
      "main": [
        [
          {
            "node": "Re-Check Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-Check Consent": {
      "main": [
        [
          {
            "node": "Still Eligible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Eligible?": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Log SENT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log SENT": {
      "main": [
        [
          {
            "node": "Mark COMPLETED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log FAILED": {
      "main": [
        [
          {
            "node": "Mark Contact FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "alu-empire",
      "createdAt": "2026-07-17T10:00:00.000Z",
      "updatedAt": "2026-07-17T10:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-07-17T10:00:00.000Z",
  "versionId": "2"
}