n8n-followup-automation.json
{
  "name": "Alu Empire - Follow-up Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        }
      },
      "id": "read-all-contacts",
      "name": "Read All Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [250, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-opt-in",
              "leftValue": "={{ $json.opt_in }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-has-next",
              "leftValue": "={{ $json.next_followup_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-eligible",
      "name": "Filter Eligible Contacts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-due",
              "leftValue": "={{ new Date($json.next_followup_at).getTime() }}",
              "rightValue": "={{ Date.now() }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-due-now",
      "name": "Due Now?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "recheck-contact",
      "name": "Re-Check Contact State",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1000, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "recheck-opt-in",
              "leftValue": "={{ $json.opt_in }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "recheck-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "recheck-has-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "still-eligible",
      "name": "Still Eligible?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_step }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Step 0 - Introduction"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_step }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Step 1 - First Follow-up"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_step }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Step 2 - Second Follow-up"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_step }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Step 3 - Final Follow-up"
            }
          ]
        }
      },
      "id": "select-template",
      "name": "Select Email Template",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "emailSubject",
              "value": "=Welcome to Alu Empire, {{ $json.name }}!",
              "type": "string"
            },
            {
              "id": "body",
              "name": "emailBody",
              "value": "=Hi {{ $json.name }},\n\nThank you for connecting with Alu Empire! We're excited to have you on board.\n\nWe specialize in premium aluminium solutions and would love to understand how we can serve your needs.\n\nFeel free to reply to this email, and one of our team members will get back to you shortly.\n\nBest regards,\nThe Alu Empire Team\n\n---\nIf you no longer wish to receive these emails, you can unsubscribe here:\n{{ $env.APP_URL }}/unsubscribe?token={{ $json.unsubscribe_token }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "template-step-0",
      "name": "Introduction Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1800, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "emailSubject",
              "value": "=Following up — {{ $json.name }}, how can we help?",
              "type": "string"
            },
            {
              "id": "body",
              "name": "emailBody",
              "value": "=Hi {{ $json.name }},\n\nJust checking in! We wanted to follow up on our earlier message.\n\nAt Alu Empire, we offer a wide range of aluminium products — from structural profiles to custom fabrication.\n\nWould you like to schedule a quick call to discuss your requirements?\n\nLooking forward to hearing from you!\n\nBest regards,\nThe Alu Empire Team\n\n---\nIf you no longer wish to receive these emails, you can unsubscribe here:\n{{ $env.APP_URL }}/unsubscribe?token={{ $json.unsubscribe_token }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "template-step-1",
      "name": "First Follow-up Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "emailSubject",
              "value": "=Quick update from Alu Empire",
              "type": "string"
            },
            {
              "id": "body",
              "name": "emailBody",
              "value": "=Hi {{ $json.name }},\n\nWe haven't heard back from you, so we wanted to share a few things our clients love about working with us:\n\n• Fast turnaround times\n• Competitive pricing on bulk orders\n• Custom sizing and finishing options\n\nIf any of these resonate with your needs, we'd love to chat.\n\nBest regards,\nThe Alu Empire Team\n\n---\nIf you no longer wish to receive these emails, you can unsubscribe here:\n{{ $env.APP_URL }}/unsubscribe?token={{ $json.unsubscribe_token }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "template-step-2",
      "name": "Second Follow-up Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1800, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "emailSubject",
              "value": "=Last check-in from Alu Empire",
              "type": "string"
            },
            {
              "id": "body",
              "name": "emailBody",
              "value": "=Hi {{ $json.name }},\n\nThis will be our last follow-up for now. We completely understand if the timing isn't right.\n\nWhenever you're ready to explore aluminium solutions, we'll be here. Simply reply to this email anytime.\n\nWishing you all the best!\n\nWarm regards,\nThe Alu Empire Team\n\n---\nIf you no longer wish to receive these emails, you can unsubscribe here:\n{{ $env.APP_URL }}/unsubscribe?token={{ $json.unsubscribe_token }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "template-step-3",
      "name": "Final Follow-up Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1800, 700]
    },
    {
      "parameters": {
        "operation": "append",
        "assignments": {
          "assignments": [
            {
              "id": "merge-all",
              "name": "=",
              "value": "",
              "type": "string"
            }
          ]
        }
      },
      "id": "merge-templates",
      "name": "Merge Templates",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2100, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "replyTo": "={{ $env.REPLY_TO_EMAIL || '' }}"
        }
      },
      "id": "send-email",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2350, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail - Alu Empire"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Communication_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $runIndex }}-{{ $json.id }}-{{ Date.now() }}",
            "contact_id": "={{ $json.id }}",
            "channel": "EMAIL",
            "step": "={{ $json.current_step }}",
            "status": "SENT",
            "recipient": "={{ $json.email }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "attempted_at": "={{ new Date().toISOString() }}",
            "error": "",
            "provider_message_id": "={{ $json.id || '' }}"
          }
        }
      },
      "id": "log-success",
      "name": "Log SENT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2650, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Communication_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $runIndex }}-{{ $json.id }}-{{ Date.now() }}",
            "contact_id": "={{ $json.id }}",
            "channel": "EMAIL",
            "step": "={{ $json.current_step }}",
            "status": "FAILED",
            "recipient": "={{ $json.email }}",
            "sent_at": "",
            "attempted_at": "={{ new Date().toISOString() }}",
            "error": "={{ $json.error?.message || 'Email send failed' }}",
            "provider_message_id": ""
          }
        }
      },
      "id": "log-failure",
      "name": "Log FAILED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2650, 450],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-final-step",
              "leftValue": "={{ Number($json.current_step) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-final-step",
      "name": "Is Final Step?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2900, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "COMPLETED",
            "current_step": "={{ Number($json.current_step) + 1 }}",
            "last_followup_at": "={{ new Date().toISOString() }}",
            "next_followup_at": "",
            "updated_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "update-completed",
      "name": "Mark COMPLETED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3150, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "current_step": "={{ Number($json.current_step) + 1 }}",
            "last_followup_at": "={{ new Date().toISOString() }}",
            "next_followup_at": "={{ new Date(Date.now() + 2 * 24 * 60 * 60 * 1000).toISOString() }}",
            "updated_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "update-next-step",
      "name": "Advance to Next Step",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3150, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "FAILED",
            "updated_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "update-failed",
      "name": "Mark Contact FAILED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2900, 450],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Read All Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Contacts": {
      "main": [
        [
          {
            "node": "Filter Eligible Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Eligible Contacts": {
      "main": [
        [
          {
            "node": "Due Now?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Due Now?": {
      "main": [
        [
          {
            "node": "Re-Check Contact State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-Check Contact State": {
      "main": [
        [
          {
            "node": "Still Eligible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Eligible?": {
      "main": [
        [
          {
            "node": "Select Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Email Template": {
      "main": [
        [
          {
            "node": "Introduction Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "First Follow-up Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Second Follow-up Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Introduction Email": {
      "main": [
        [
          {
            "node": "Send Email (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Follow-up Email": {
      "main": [
        [
          {
            "node": "Send Email (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second Follow-up Email": {
      "main": [
        [
          {
            "node": "Send Email (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Follow-up Email": {
      "main": [
        [
          {
            "node": "Send Email (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Gmail)": {
      "main": [
        [
          {
            "node": "Log SENT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log SENT": {
      "main": [
        [
          {
            "node": "Is Final Step?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log FAILED": {
      "main": [
        [
          {
            "node": "Mark Contact FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Final Step?": {
      "main": [
        [
          {
            "node": "Mark COMPLETED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Advance to Next Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "alu-empire",
      "createdAt": "2026-07-17T10:00:00.000Z",
      "updatedAt": "2026-07-17T10:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-07-17T10:00:00.000Z",
  "versionId": "1"
}
