n8n-followup-automation.json
{
  "name": "Alu Empire - Welcome Email Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        }
      },
      "id": "read-all-contacts",
      "name": "Read All Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [250, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-opt-in",
              "leftValue": "={{ $json.opt_in }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-not-sent",
              "leftValue": "={{ $json.current_step }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-has-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-eligible",
      "name": "Filter: Opted-In & Not Yet Emailed",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-due",
              "leftValue": "={{ new Date($json.next_followup_at).getTime() }}",
              "rightValue": "={{ Date.now() }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-due-now",
      "name": "Due Now?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "recheck-contact",
      "name": "Re-Check Consent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1000, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "recheck-opt-in",
              "leftValue": "={{ $json.opt_in }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "recheck-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "still-eligible",
      "name": "Still Eligible?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Welcome to Alu Empire, {{ $json.name }}!",
        "message": "=Hi {{ $json.name }},\n\nThank you for connecting with Alu Empire! We're excited to have you on board.\n\nWe specialize in premium aluminium solutions and would love to understand how we can serve your needs.\n\nFeel free to reply to this email, and one of our team members will get back to you shortly.\n\nBest regards,\nThe Alu Empire Team\n\n---\nIf you no longer wish to receive these emails, you can unsubscribe here:\n{{ $env.APP_URL }}/unsubscribe?token={{ $json.unsubscribe_token }}",
        "options": {
          "replyTo": "={{ $env.REPLY_TO_EMAIL || '' }}"
        }
      },
      "id": "send-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1500, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail - Alu Empire"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Communication_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $runIndex }}-{{ $json.id }}-{{ Date.now() }}",
            "contact_id": "={{ $json.id }}",
            "channel": "EMAIL",
            "step": "1",
            "status": "SENT",
            "recipient": "={{ $json.email }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "attempted_at": "={{ new Date().toISOString() }}",
            "error": "",
            "provider_message_id": ""
          }
        }
      },
      "id": "log-success",
      "name": "Log SENT",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1800, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Communication_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $runIndex }}-{{ $json.id }}-{{ Date.now() }}",
            "contact_id": "={{ $json.id }}",
            "channel": "EMAIL",
            "step": "1",
            "status": "FAILED",
            "recipient": "={{ $json.email }}",
            "sent_at": "",
            "attempted_at": "={{ new Date().toISOString() }}",
            "error": "={{ $json.error?.message || 'Email send failed' }}",
            "provider_message_id": ""
          }
        }
      },
      "id": "log-failure",
      "name": "Log FAILED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1800, 450],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "COMPLETED",
            "current_step": "1",
            "last_followup_at": "={{ new Date().toISOString() }}",
            "next_followup_at": "",
            "updated_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "mark-completed",
      "name": "Mark COMPLETED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2050, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "FAILED",
            "updated_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "mark-failed",
      "name": "Mark Contact FAILED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2050, 450],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets - Alu Empire"
        }
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Read All Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Contacts": {
      "main": [
        [
          {
            "node": "Filter: Opted-In & Not Yet Emailed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Opted-In & Not Yet Emailed": {
      "main": [
        [
          {
            "node": "Due Now?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Due Now?": {
      "main": [
        [
          {
            "node": "Re-Check Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-Check Consent": {
      "main": [
        [
          {
            "node": "Still Eligible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Eligible?": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Log SENT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log SENT": {
      "main": [
        [
          {
            "node": "Mark COMPLETED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log FAILED": {
      "main": [
        [
          {
            "node": "Mark Contact FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "alu-empire",
      "createdAt": "2026-07-17T10:00:00.000Z",
      "updatedAt": "2026-07-17T10:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-07-17T10:00:00.000Z",
  "versionId": "2"
}
